Repository MontrealCorpusTools/Montreal-Forced-Aligner: changes, and which pre-commit hooks are due for each by the changed paths.
All: profile-check, print-check

profile-check:
  name: no profiling
  entry: '@profile'
  language: pygrep

print-check:
  name: no print statements
  entry: \bprint\(
  language: pygrep

WIP
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/compare_alignments.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/alignment_comparer.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/g2p/trainer.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/textgrid.py
  tests/test_helper.py
Due: profile-check, print-check

Add dependencies for huggingface_hub
  ci/docker_environment.yaml
  rtd_environment.yml
Due: none

Update alignment analysis calculations
  docs/source/changelog/changelog_3.4.rst
  docs/source/user_guide/implementations/alignment_analysis.md
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/models/classes.py
Due: profile-check, print-check

Add command for migrating models to hf format
  ci/docker_environment.yaml
  docs/source/user_guide/models/model_versions.rst
  environment.yml
  github_environment.yml
  montreal_forced_aligner/command_line/model.py
  montreal_forced_aligner/models/classes.py
  rtd_environment.yml
  tests/test_commandline_model.py
  tests/test_commandline_remap.py
Due: profile-check, print-check

Bump kalpy versions
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  rtd_environment.yml
Due: none

Catch partial import for torchvision
  montreal_forced_aligner/diarization/multiprocessing.py
Due: profile-check, print-check

Ensure clean on create_hf_model
  montreal_forced_aligner/command_line/utils.py
Due: profile-check, print-check

Update rtd config
  .readthedocs.yaml
Due: none

Try pinning speechbain
  github_environment.yml
Due: none

Update speechbrain pin
  github_environment.yml
Due: none

Fix OOV file paths in mfa validate output and a minor logging typo (#932)
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/validation/corpus_validator.py
  tests/test_commandline_validate.py
Due: profile-check, print-check

Fix pronunciation output for stdin g2p (#949)
  montreal_forced_aligner/command_line/g2p.py
Due: profile-check, print-check

Remove extra parameter (#954)
  montreal_forced_aligner/online/alignment.py
Due: profile-check, print-check

Fix alignment fine-tune option and alignment archive path bug (#930)
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  tests/test_commandline_align.py
Due: profile-check, print-check

Add --ignore_oovs option to ignore OOV words in generation and transcription. Should make any OOVs not caught by the G2P work better. (#946)
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/train_acoustic_model.py
  montreal_forced_aligner/command_line/validate.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/features.py
  montreal_forced_aligner/validation/corpus_validator.py
Due: profile-check, print-check

Pin speechbrain version to 1.0.3
  Dockerfile
  bin/mfa_update
  ci/docker_environment.yaml
  docs/source/changelog/index.md
  docs/source/installation.rst
  montreal_forced_aligner/diarization/speaker_diarizer.py
  montreal_forced_aligner/online/transcription.py
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/vad/models.py
Due: profile-check, print-check

Pin to speechbrain 1.0.3
  Dockerfile
  bin/mfa_update
  ci/docker_environment.yaml
  docs/source/installation.rst
  github_environment.yml
Due: none

Fix for partial import of torchvision
  montreal_forced_aligner/diarization/multiprocessing.py
Due: profile-check, print-check

Pin to speechbrain 1.0.3 (#960)
  .readthedocs.yaml
  Dockerfile
  bin/mfa_update
  ci/docker_environment.yaml
  docs/source/installation.rst
  github_environment.yml
  montreal_forced_aligner/diarization/multiprocessing.py
Due: profile-check, print-check

Fix yaml loader
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/remapper.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/models/classes.py
Due: profile-check, print-check

Fix yaml loader (#963)
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/remapper.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/models/classes.py
Due: profile-check, print-check

DOCS: Update installation to have more clear steps
  docs/source/conf.py
  docs/source/getting_started.rst
  docs/source/installation.rst
  docs/source/user_guide/configuration/index.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/models/model_versions.rst
  rtd_environment.yml
Due: profile-check

Update commands for updating MFA
  docs/source/installation.rst
Due: none

Fix announcement url
  docs/source/conf.py
Due: profile-check

Fix align_one --no_tokenization crash for known languages
  montreal_forced_aligner/online/alignment.py
  tests/test_commandline_align.py
Due: profile-check, print-check

DOCS: Update installation to have more clear steps (#967)
  docs/source/conf.py
  docs/source/getting_started.rst
  docs/source/installation.rst
  docs/source/user_guide/configuration/index.rst
  docs/source/user_guide/index.rst
  docs/source/user_guide/models/model_versions.rst
  rtd_environment.yml
Due: profile-check

Fix and add tests for loading old MFA configurations
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/multiprocessing.py
  montreal_forced_aligner/helper.py
  tests/test_config.py
Due: profile-check, print-check

Update tokenization to not use variable numbers of return objects
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/alignment_comparer.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/multiprocessing.py
  montreal_forced_aligner/corpus/remapper.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/dictionary/mixins.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/exceptions.py
  montreal_forced_aligner/g2p/trainer.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/models/classes.py
  montreal_forced_aligner/online/alignment.py
  montreal_forced_aligner/online/transcription.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/tokenization/chinese.py
  montreal_forced_aligner/tokenization/classes.py
  montreal_forced_aligner/tokenization/english.py
  montreal_forced_aligner/tokenization/japanese.py
  montreal_forced_aligner/tokenization/korean.py
  montreal_forced_aligner/tokenization/simple.py
  montreal_forced_aligner/tokenization/spacy.py
  montreal_forced_aligner/tokenization/thai.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/utils.py
  tests/test_commandline_align.py
Due: profile-check, print-check

Fix issue with tokenizer training
  montreal_forced_aligner/config.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/tokenization/trainer.py
Due: profile-check, print-check

Update yaml path representer
  montreal_forced_aligner/helper.py
Due: profile-check, print-check

Update possible path types
  montreal_forced_aligner/helper.py
Due: profile-check, print-check

Bug fixes (#971)
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/alignment_comparer.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/multiprocessing.py
  montreal_forced_aligner/corpus/remapper.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/dictionary/mixins.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/exceptions.py
  montreal_forced_aligner/g2p/trainer.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/models/classes.py
  montreal_forced_aligner/online/alignment.py
  montreal_forced_aligner/online/transcription.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/tokenization/chinese.py
  montreal_forced_aligner/tokenization/classes.py
  montreal_forced_aligner/tokenization/english.py
  montreal_forced_aligner/tokenization/japanese.py
  montreal_forced_aligner/tokenization/korean.py
  montreal_forced_aligner/tokenization/simple.py
  montreal_forced_aligner/tokenization/spacy.py
  montreal_forced_aligner/tokenization/thai.py
  montreal_forced_aligner/tokenization/trainer.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/utils.py
  tests/test_commandline_align.py
  tests/test_config.py
Due: profile-check, print-check

Measure a leading TextGrid blank from the grid start.
  montreal_forced_aligner/textgrid.py
  tests/test_textgrid_blanks.py
Due: profile-check, print-check

Fix bugs and add tests for regressions
  docs/source/changelog/changelog_3.4.rst
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  tests/test_commandline_adapt.py
  tests/test_commandline_align.py
  tests/test_commandline_train.py
Due: profile-check, print-check

Update kaldi_id to not use unique
  docs/source/changelog/changelog_3.4.rst
  montreal_forced_aligner/db.py
Due: profile-check, print-check

Pin postgresql to <18.4
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/db.py
  rtd_environment.yml
Due: profile-check, print-check

Update pin on postgresql<18.0
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  rtd_environment.yml
Due: none

Path conditions:
  profile-check: any of: \.py$
  print-check: any of: ^montreal_forced_aligner/ and \.py$ and not (^montreal_forced_aligner/command_line/transcribe.py)
