Repository MontrealCorpusTools/Montreal-Forced-Aligner: changes, and which pre-commit hooks are due for each by the changed paths.
All: profile-check, print-check

profile-check:
  name: no profiling
  entry: '@profile'
  language: pygrep

print-check:
  name: no print statements
  entry: \bprint\(
  language: pygrep

Update changelog
  docs/source/changelog/changelog_3.4.rst
Due: none

Ensure computed columns are persisted
  montreal_forced_aligner/db.py
Due: profile-check, print-check

Ignore deprecated tokenization tests
  tests/test_commandline_tokenize.py
Due: profile-check

Add debugging for new praatio error
  montreal_forced_aligner/tokenization/tokenizer.py
  montreal_forced_aligner/transcription/transcriber.py
Due: profile-check, print-check

Fix issue with extra speaker orderings
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/corpus/classes.py
  rtd_environment.yml
  tests/conftest.py
  tests/data/textgrid/words_tier_only.TextGrid
  tests/test_commandline_tokenize.py
  tests/test_corpus.py
Due: profile-check, print-check

Remove debugging for extra speaker orderings
  montreal_forced_aligner/tokenization/tokenizer.py
  montreal_forced_aligner/transcription/transcriber.py
Due: profile-check, print-check

Fix bugs and add tests for regressions (#977)
  docs/source/changelog/changelog_3.4.rst
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  tests/conftest.py
  tests/data/textgrid/words_tier_only.TextGrid
  tests/test_commandline_adapt.py
  tests/test_commandline_align.py
  tests/test_commandline_tokenize.py
  tests/test_commandline_train.py
  tests/test_corpus.py
Due: profile-check, print-check

Update publish workflow to use trusted publisher
  .github/workflows/publish.yml
Due: none

Path conditions:
  profile-check: any of: \.py$
  print-check: any of: ^montreal_forced_aligner/ and \.py$ and not (^montreal_forced_aligner/command_line/transcribe.py)
