Repository MontrealCorpusTools/Montreal-Forced-Aligner: changes, and which pre-commit hooks are due for each by the changed paths.
All: profile-check, print-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: profile-check
        name: no profiling
        entry: '@profile'
        language: pygrep
        types: [ python ]
      - id: print-check
        name: no print statements
        entry: '\bprint\('
        language: pygrep
        types: [ python ]
        files: ^montreal_forced_aligner/
        exclude: ^montreal_forced_aligner/command_line/transcribe.py
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pyproject-flake8
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.2.0
    hooks:
      - id: setup-cfg-fmt
        args:
          - --min-py3-version
          - "3.8"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: mixed-line-ending

Somewhat optimized whisper pipeline
  environment.yml
  montreal_forced_aligner/command_line/transcribe.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/online/transcription.py
  montreal_forced_aligner/transcription/models.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/utils.py
  montreal_forced_aligner/vad/models.py
  montreal_forced_aligner/vad/multiprocessing.py
  montreal_forced_aligner/vad/segmenter.py
  tests/test_commandline_transcribe.py
Due: profile-check, print-check

3P transcription generally working
  bin/mfa_update
  docs/source/changelog/changelog_3.0.rst
  environment.yml
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/dictionary/mixins.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/g2p/trainer.py
  montreal_forced_aligner/models.py
  montreal_forced_aligner/tokenization/simple.py
  montreal_forced_aligner/transcription/models.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/utils.py
  montreal_forced_aligner/vad/models.py
  montreal_forced_aligner/vad/multiprocessing.py
  montreal_forced_aligner/vad/segmenter.py
  tests/test_commandline_align.py
  tests/test_commandline_transcribe.py
  tests/test_corpus.py
Due: profile-check, print-check

Fix whisperx import error
  montreal_forced_aligner/transcription/models.py
Due: profile-check, print-check

Fix for segment test failures
  montreal_forced_aligner/vad/models.py
  montreal_forced_aligner/vad/multiprocessing.py
  montreal_forced_aligner/vad/segmenter.py
Due: profile-check, print-check

Optimizations for training acoustic models
  docs/source/changelog/changelog_3.0.rst
  docs/source/changelog/changelog_3.1.rst
  docs/source/changelog/changelog_3.2.rst
  docs/source/changelog/index.md
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/base.py
Due: profile-check, print-check

Update environment
  environment.yml
Due: none

Update micromamba version for github actions
  .github/workflows/main.yml
Due: none

Update github actions environment
  .github/workflows/main.yml
Due: none

Switch to using miniforge for gha
  .github/workflows/main.yml
  github_environment.yml
Due: none

Fix for torch import error
  montreal_forced_aligner/online/transcription.py
Due: profile-check, print-check

Update segmentation test
  montreal_forced_aligner/command_line/create_segments.py
  tests/test_commandline_create_segments.py
Due: profile-check, print-check

Fix bug in transcript testing
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/validation/corpus_validator.py
  tests/test_acoustic_modeling.py
Due: profile-check, print-check

Fixing adaptation for older models
  montreal_forced_aligner/acoustic_modeling/base.py
  montreal_forced_aligner/alignment/adapting.py
  montreal_forced_aligner/ivector/trainer.py
Due: profile-check, print-check

DOC Link updates
  docs/source/conf.py
  docs/source/user_guide/index.rst
Due: profile-check

fix #802
  montreal_forced_aligner/command_line/align_one.py
Due: profile-check, print-check

Update pinned dependencies
  environment.yml
  montreal_forced_aligner/alignment/multiprocessing.py
Due: profile-check, print-check

Remove all pins on scikit-learn
  ci/docker_environment.yaml
  github_environment.yml
  requirements.txt
  rtd_environment.yml
  setup.cfg
Due: none

Update pinned dependencies (#853)
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/alignment/multiprocessing.py
  requirements.txt
  rtd_environment.yml
  setup.cfg
Due: profile-check, print-check

Set default to composed unicode
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/g2p/trainer.py
Due: profile-check, print-check

Update changelog
  docs/source/changelog/changelog_3.2.rst
Due: none

Set default to composed unicode (#854)
  docs/source/changelog/changelog_3.2.rst
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/g2p/trainer.py
Due: profile-check, print-check

fix #802 (#845)
  montreal_forced_aligner/command_line/align_one.py
Due: profile-check, print-check

Fix acoustic_corpus.py corpus error logging crash
  montreal_forced_aligner/corpus/acoustic_corpus.py
Due: profile-check, print-check

Remove pin on biopython=1.79
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/helper.py
  requirements.txt
  rtd_environment.yml
  setup.cfg
Due: profile-check, print-check

Fix import error
  montreal_forced_aligner/helper.py
Due: profile-check, print-check

Remove pin on biopython=1.79 (#872)
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/helper.py
  requirements.txt
  rtd_environment.yml
  setup.cfg
Due: profile-check, print-check

Update joblib configuration for 1.5
  montreal_forced_aligner/command_line/configure.py
  montreal_forced_aligner/config.py
Due: profile-check, print-check

Update for latest click version
  tests/test_commandline_adapt.py
  tests/test_commandline_align.py
  tests/test_commandline_create_segments.py
  tests/test_commandline_diarize_speakers.py
  tests/test_commandline_g2p.py
  tests/test_commandline_history.py
  tests/test_commandline_lm.py
  tests/test_commandline_model.py
  tests/test_commandline_tokenize.py
  tests/test_commandline_train.py
  tests/test_commandline_train_dict.py
  tests/test_commandline_train_ivector.py
  tests/test_commandline_transcribe.py
  tests/test_commandline_validate.py
Due: profile-check

Fix syntax error
  tests/test_commandline_align.py
Due: profile-check

Update joblib configuration for 1.5 (#884)
  montreal_forced_aligner/command_line/configure.py
  montreal_forced_aligner/config.py
  tests/test_commandline_adapt.py
  tests/test_commandline_align.py
  tests/test_commandline_create_segments.py
  tests/test_commandline_diarize_speakers.py
  tests/test_commandline_g2p.py
  tests/test_commandline_history.py
  tests/test_commandline_lm.py
  tests/test_commandline_model.py
  tests/test_commandline_tokenize.py
  tests/test_commandline_train.py
  tests/test_commandline_train_dict.py
  tests/test_commandline_train_ivector.py
  tests/test_commandline_transcribe.py
  tests/test_commandline_validate.py
Due: profile-check, print-check

WIP
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/acoustic_modeling/base.py
  montreal_forced_aligner/acoustic_modeling/lda.py
  montreal_forced_aligner/acoustic_modeling/monophone.py
  montreal_forced_aligner/acoustic_modeling/pronunciation_probabilities.py
  montreal_forced_aligner/acoustic_modeling/sat.py
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/acoustic_modeling/triphone.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/mixins.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/g2p.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/command_line/remap_dictionary.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/corpus/features.py
  montreal_forced_aligner/corpus/multiprocessing.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/diarization/speaker_diarizer.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/dictionary/remapper.py
  montreal_forced_aligner/exceptions.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/online/alignment.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/transcription/models.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  notebooks/debugging_alignments.ipynb
Due: profile-check, print-check

WIP
  .pre-commit-config.yaml
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/mixins.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/diarization/speaker_diarizer.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/language_modeling/multiprocessing.py
  montreal_forced_aligner/language_modeling/trainer.py
  montreal_forced_aligner/vad/models.py
Due: profile-check, print-check

Fix acoustic_corpus.py corpus error logging crash (#864)
  montreal_forced_aligner/corpus/acoustic_corpus.py
Due: profile-check, print-check

Fixes bugs for subfolder errors (#717)
  montreal_forced_aligner/models.py
Due: profile-check, print-check

3.3.1
  montreal_forced_aligner/acoustic_modeling/base.py
  montreal_forced_aligner/acoustic_modeling/lda.py
  montreal_forced_aligner/acoustic_modeling/monophone.py
  montreal_forced_aligner/acoustic_modeling/pronunciation_probabilities.py
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/adapting.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/vad/segmenter.py
Due: profile-check, print-check

3.3.1 (#892)
  montreal_forced_aligner/acoustic_modeling/base.py
  montreal_forced_aligner/acoustic_modeling/lda.py
  montreal_forced_aligner/acoustic_modeling/monophone.py
  montreal_forced_aligner/acoustic_modeling/pronunciation_probabilities.py
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/adapting.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/vad/segmenter.py
Due: profile-check, print-check

Update praatio dependency
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  rtd_environment.yml
Due: none
