Repository MontrealCorpusTools/Montreal-Forced-Aligner: changes, and which pre-commit hooks are due for each by the changed paths.
All: profile-check, print-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: profile-check
        name: no profiling
        entry: '@profile'
        language: pygrep
        types: [ python ]
      - id: print-check
        name: no print statements
        entry: '\bprint\('
        language: pygrep
        types: [ python ]
        files: ^montreal_forced_aligner/
        exclude: ^montreal_forced_aligner/command_line/transcribe.py
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pyproject-flake8
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.2.0
    hooks:
      - id: setup-cfg-fmt
        args:
          - --min-py3-version
          - "3.8"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: mixed-line-ending

Update model tag parsing to handle hyphens in languages
  montreal_forced_aligner/models.py
Due: profile-check, print-check

Update model tag parsing to handle hyphens in languages (#921)
  montreal_forced_aligner/models.py
Due: profile-check, print-check

WIP
  montreal_forced_aligner/config.py
  montreal_forced_aligner/diarization/speaker_diarizer.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  setup.cfg
Due: profile-check, print-check

Update Japanese example and fix bug with g2p model in alignment
  docs/source/conf.py
  docs/source/first_steps/alignment_example.md
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/command_line/validate.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/g2p/generator.py
Due: profile-check, print-check

Bug fixes and documentation updates (#925)
  docs/source/conf.py
  docs/source/first_steps/alignment_example.md
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/command_line/validate.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/diarization/speaker_diarizer.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  setup.cfg
Due: profile-check, print-check

[DOCS] Add adaptation example
  docs/source/first_steps/alignment_example.md
  docs/source/first_steps/remapping_example.md
  docs/source/getting_started.rst
Due: none

[DOCS] Add adaptation example (#927)
  docs/source/first_steps/alignment_example.md
  docs/source/first_steps/remapping_example.md
  docs/source/getting_started.rst
Due: none

DOCS: Fix typo in Japanese example
  docs/source/first_steps/alignment_example.md
  docs/source/first_steps/remapping_example.md
Due: none

feat: Add option to save phone confidence scores
  montreal_forced_aligner/command_line/align_one.py
Due: profile-check, print-check

Fix restore fine-tuning behavior and add regression test
  montreal_forced_aligner/alignment/pretrained.py
  tests/test_commandline_align.py
Due: profile-check, print-check

Fix: remove incorrect leading dot in .ark file construction for fine-tuning
  montreal_forced_aligner/alignment/multiprocessing.py
Due: profile-check, print-check

validation/dictionary: log correct OOV file paths
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/validation/corpus_validator.py
  tests/test_commandline_validate.py
Due: profile-check, print-check

validation: fix missing space in "total OOV tokens" warning
  montreal_forced_aligner/validation/corpus_validator.py
Due: profile-check, print-check

Fix pronunciation extraction from G2P model
  montreal_forced_aligner/online/alignment.py
Due: profile-check, print-check

Fix pronunciation extraction from G2P model (#937)
  montreal_forced_aligner/online/alignment.py
Due: profile-check, print-check

Fix g2p_model_path and add tests
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/mixins.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/models.py
  montreal_forced_aligner/online/alignment.py
  montreal_forced_aligner/vad/segmenter.py
  tests/conftest.py
  tests/test_commandline_align.py
Due: profile-check, print-check

Update github action for space issues
  .github/workflows/main.yml
Due: none

Update github_environment.yml
  github_environment.yml
Due: none

Adding speechbrain dependency back
  .github/workflows/main.yml
  github_environment.yml
Due: none

Remove speechbrain in github tests
  github_environment.yml
Due: none

Add japanese dependencies
  github_environment.yml
Due: none

Move speechbrain and whisperx dependencies to conda
  github_environment.yml
Due: none

Fix g2p_model_path and add tests (#939)
  .github/workflows/main.yml
  github_environment.yml
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/mixins.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/models.py
  montreal_forced_aligner/online/alignment.py
  montreal_forced_aligner/vad/segmenter.py
  tests/conftest.py
  tests/test_commandline_align.py
Due: profile-check, print-check

Fix <unk> relabeling in 3.3.x word intervals
  montreal_forced_aligner/alignment/multiprocessing.py
Due: profile-check, print-check

Add --ignore_oovs option to ignore OOV words in generation and transcription. Should make any OOVs not caught by the G2P work better.
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/train_acoustic_model.py
  montreal_forced_aligner/command_line/validate.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/features.py
  montreal_forced_aligner/validation/corpus_validator.py
Due: profile-check, print-check

Remove dataclassy for Python 3.14 compatibility
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/adapting.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/corpus/features.py
  montreal_forced_aligner/corpus/multiprocessing.py
  montreal_forced_aligner/data.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/language_modeling/multiprocessing.py
  montreal_forced_aligner/models.py
  montreal_forced_aligner/textgrid.py
  montreal_forced_aligner/tokenization/tokenizer.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/vad/multiprocessing.py
  requirements.txt
  rtd_environment.yml
  setup.cfg
Due: profile-check, print-check

Update numpy environment pin
  github_environment.yml
Due: none

Fix data classes
  montreal_forced_aligner/acoustic_modeling/lda.py
  montreal_forced_aligner/acoustic_modeling/monophone.py
  montreal_forced_aligner/acoustic_modeling/sat.py
  montreal_forced_aligner/acoustic_modeling/triphone.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/ivector/multiprocessing.py
Due: profile-check, print-check

Update tests
  tests/test_helper.py
Due: profile-check

WIP
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/compare_alignments.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/alignment_comparer.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/corpus/classes.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/g2p/trainer.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/textgrid.py
  tests/test_helper.py
Due: profile-check, print-check

Fix pronunciation output for stdin g2p
  montreal_forced_aligner/command_line/g2p.py
Due: profile-check, print-check

WIP
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/compare_alignments.py
  montreal_forced_aligner/command_line/train_acoustic_model.py
  montreal_forced_aligner/corpus/acoustic_corpus.py
  montreal_forced_aligner/corpus/alignment_comparer.py
  montreal_forced_aligner/corpus/base.py
  montreal_forced_aligner/db.py
  montreal_forced_aligner/dictionary/multispeaker.py
  montreal_forced_aligner/dictionary/remapper.py
  montreal_forced_aligner/exceptions.py
  montreal_forced_aligner/g2p/generator.py
  montreal_forced_aligner/g2p/phonetisaurus_trainer.py
  montreal_forced_aligner/models.py
  montreal_forced_aligner/tokenization/korean.py
  montreal_forced_aligner/tokenization/spacy.py
  tests/test_helper.py
Due: profile-check, print-check

Update .readthedocs.yaml for latest ubuntu
  .readthedocs.yaml
Due: none

Remove extra parameter
  montreal_forced_aligner/online/alignment.py
Due: profile-check, print-check

Fix utterance OOV report tokenization
  montreal_forced_aligner/validation/corpus_validator.py
  tests/test_commandline_find_oovs.py
Due: profile-check, print-check

Fix logged OOV report paths
  montreal_forced_aligner/validation/corpus_validator.py
  tests/test_commandline_find_oovs.py
Due: profile-check, print-check

Docs updates
  README.md
  docs/source/changelog/changelog_3.4.rst
  docs/source/changelog/index.md
  docs/source/changelog/news_3.4.rst
  docs/source/conf.py
  docs/source/first_steps/index.rst
  docs/source/user_guide/corpus_creation/tokenize.rst
  docs/source/user_guide/corpus_creation/train_tokenizer.rst
  docs/source/user_guide/implementations/alignment_analysis.md
  docs/source/user_guide/index.rst
  docs/source/user_guide/models/index.rst
  docs/source/user_guide/models/model_versions.rst
  docs/source/user_guide/workflows/adapt_acoustic_model.rst
  docs/source/user_guide/workflows/alignment.rst
  docs/source/user_guide/workflows/evaluating_alignments.rst
  docs/source/user_guide/workflows/index.rst
  docs/source/user_guide/workflows/train_acoustic_model.rst
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/align_one.py
  montreal_forced_aligner/command_line/model.py
  montreal_forced_aligner/models/classes.py
  montreal_forced_aligner/models/templates/model_card_template.md
Due: profile-check, print-check
