Repository MontrealCorpusTools/Montreal-Forced-Aligner: changes, and which pre-commit hooks are due for each by the changed paths.
All: profile-check, print-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: profile-check
        name: no profiling
        entry: '@profile'
        language: pygrep
        types: [ python ]
      - id: print-check
        name: no print statements
        entry: '\bprint\('
        language: pygrep
        types: [ python ]
        files: ^montreal_forced_aligner/
        exclude: ^montreal_forced_aligner/command_line/transcribe.py
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pyproject-flake8
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.2.0
    hooks:
      - id: setup-cfg-fmt
        args:
          - --min-py3-version
          - "3.8"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
        args: ['--maxkb=2000']
      - id: mixed-line-ending

Throw relevant exception on platforms where python 3.13 is not supported
  montreal_forced_aligner/corpus/features.py
Due: profile-check, print-check

Update error message
  montreal_forced_aligner/corpus/features.py
Due: profile-check, print-check

Update praatio dependency (#893)
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  montreal_forced_aligner/corpus/features.py
  rtd_environment.yml
Due: profile-check, print-check

[DOCS] Fix dictionary name in examples
  docs/source/first_steps/example.rst
Due: none

[DOCS] Update getting_started
  docs/source/getting_started.rst
  montreal_forced_aligner/alignment/base.py
Due: profile-check, print-check

[DOCS] Update First steps and troubleshooting
  docs/source/_static/css/mfa.css
  docs/source/conf.py
  docs/source/first_steps/index.rst
  docs/source/user_guide/configuration/index.rst
  docs/source/user_guide/troubleshooting.rst
  rtd_environment.yml
Due: profile-check

[DOCS] Update mandarin pinyin G2P example
  docs/source/first_steps/example.rst
Due: none

[DOCS] Reorganizing getting_started and font fixes
  docs/source/_static/css/mfa.css
  docs/source/_static/webfonts/fa-brands-400.eot
  docs/source/_static/webfonts/fa-brands-400.svg
  docs/source/_static/webfonts/fa-brands-400.ttf
  docs/source/_static/webfonts/fa-brands-400.woff
  docs/source/_static/webfonts/fa-brands-400.woff2
  docs/source/_static/webfonts/fa-regular-400.eot
  docs/source/_static/webfonts/fa-regular-400.svg
  docs/source/_static/webfonts/fa-regular-400.ttf
  docs/source/_static/webfonts/fa-regular-400.woff
  docs/source/_static/webfonts/fa-regular-400.woff2
  docs/source/_static/webfonts/fa-solid-900.eot
  docs/source/_static/webfonts/fa-solid-900.svg
  docs/source/_static/webfonts/fa-solid-900.ttf
  docs/source/_static/webfonts/fa-solid-900.woff
  docs/source/_static/webfonts/fa-solid-900.woff2
  docs/source/conf.py
  docs/source/first_steps/index.rst
  docs/source/first_steps/tutorials.rst
  docs/source/getting_started.rst
  docs/source/user_guide/troubleshooting.rst
Due: profile-check

Various bug fixes
  docs/source/changelog/changelog_3.3.rst
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  tests/conftest.py
Due: profile-check, print-check

Fix bug in tests
  montreal_forced_aligner/helper.py
Due: profile-check, print-check

Various bug fixes (#896)
  docs/source/changelog/changelog_3.3.rst
  montreal_forced_aligner/abc.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/helper.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  tests/conftest.py
Due: profile-check, print-check

[DOCS] Update example training command
  docs/source/first_steps/example.rst
  montreal_forced_aligner/alignment/adapting.py
  montreal_forced_aligner/command_line/adapt.py
Due: profile-check, print-check

Update how phone duration statistics are calculated and stored
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/pretrained.py
Due: profile-check, print-check

Update align commands for no_tokenization flag
  montreal_forced_aligner/command_line/adapt.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/align_one.py
Due: profile-check, print-check

Fix error in sd_duration calculation
  montreal_forced_aligner/alignment/base.py
Due: profile-check, print-check

Update how phone duration statistics are calculated and stored (#898)
  montreal_forced_aligner/acoustic_modeling/trainer.py
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/adapt.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/align_one.py
Due: profile-check, print-check

Update corpus directory validation for check if it's inside temp folder
  montreal_forced_aligner/command_line/adapt.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/create_segments.py
  montreal_forced_aligner/command_line/diarize_speakers.py
  montreal_forced_aligner/command_line/train_acoustic_model.py
  montreal_forced_aligner/command_line/train_dictionary.py
  montreal_forced_aligner/command_line/train_ivector_extractor.py
  montreal_forced_aligner/command_line/train_tokenizer.py
  montreal_forced_aligner/command_line/transcribe.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/command_line/validate.py
Due: profile-check, print-check

Fix bug in validate_corpus_directory
  montreal_forced_aligner/command_line/utils.py
Due: profile-check, print-check

Update corpus directory validation for check if it's inside temp folder (#899)
  montreal_forced_aligner/command_line/adapt.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/create_segments.py
  montreal_forced_aligner/command_line/diarize_speakers.py
  montreal_forced_aligner/command_line/train_acoustic_model.py
  montreal_forced_aligner/command_line/train_dictionary.py
  montreal_forced_aligner/command_line/train_ivector_extractor.py
  montreal_forced_aligner/command_line/train_tokenizer.py
  montreal_forced_aligner/command_line/transcribe.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/command_line/validate.py
Due: profile-check, print-check

Use segmented output of VAD for transcribe_whisper
  environment.yml
  github_environment.yml
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  tests/test_commandline_transcribe.py
Due: profile-check, print-check

Pin github runner to 3.11
  github_environment.yml
Due: none

Require CUDA for speechbrain transcription
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/vad/models.py
  tests/test_commandline_transcribe.py
Due: profile-check, print-check

Use segmented output of VAD for transcribe_whisper (#900)
  environment.yml
  github_environment.yml
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/vad/models.py
  tests/test_commandline_transcribe.py
Due: profile-check, print-check

Add mfa find_oovs command
  docs/source/reference/segmentation/helper.rst
  docs/source/user_guide/commands.rst
  docs/source/user_guide/concepts/hmm.md
  docs/source/user_guide/workflows/dictionary_generating.rst
  docs/source/user_guide/workflows/finding_oovs.rst
  docs/source/user_guide/workflows/index.rst
  montreal_forced_aligner/command_line/find_oovs.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/command_line/server.py
  montreal_forced_aligner/command_line/utils.py
  tests/test_commandline_find_oovs.py
Due: profile-check, print-check

Add mfa find_oovs command (#901)
  docs/source/reference/segmentation/helper.rst
  docs/source/user_guide/commands.rst
  docs/source/user_guide/concepts/hmm.md
  docs/source/user_guide/workflows/dictionary_generating.rst
  docs/source/user_guide/workflows/finding_oovs.rst
  docs/source/user_guide/workflows/index.rst
  montreal_forced_aligner/command_line/find_oovs.py
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/command_line/server.py
  montreal_forced_aligner/command_line/utils.py
  tests/test_commandline_find_oovs.py
Due: profile-check, print-check

Fix bug in --use_cutoff_model
  docs/source/changelog/changelog_3.3.rst
  docs/source/user_guide/dictionary.rst
  montreal_forced_aligner/dictionary/multispeaker.py
Due: profile-check, print-check

Fix bug in --use_cutoff_model (#905)
  docs/source/changelog/changelog_3.3.rst
  docs/source/user_guide/dictionary.rst
  montreal_forced_aligner/dictionary/multispeaker.py
Due: profile-check, print-check

Fix Docker build failures by managing dependencies via conda
  Dockerfile
  ci/docker_environment.yaml
Due: none

Fix Docker build failures by managing dependencies via conda (#906)
  Dockerfile
  ci/docker_environment.yaml
Due: none

fix: use kalpy>=0.7
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  rtd_environment.yml
Due: none

fix: use kalpy>=0.7 (#914)
  ci/docker_environment.yaml
  environment.yml
  github_environment.yml
  rtd_environment.yml
Due: none

Fix issues in fine tuning
  ci/docker_environment.yaml
  docs/source/user_guide/data_validation.rst
  docs/source/user_guide/implementations/phone_models.md
  environment.yml
  github_environment.yml
  montreal_forced_aligner/alignment/base.py
  montreal_forced_aligner/alignment/mixins.py
  montreal_forced_aligner/alignment/multiprocessing.py
  montreal_forced_aligner/alignment/pretrained.py
  montreal_forced_aligner/command_line/align.py
  montreal_forced_aligner/command_line/anchor.py
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/online/transcription.py
  montreal_forced_aligner/transcription/transcriber.py
  montreal_forced_aligner/vad/multiprocessing.py
  requirements.txt
  rtd_environment.yml
  tests/test_commandline_transcribe.py
Due: profile-check, print-check

Update configure command
  montreal_forced_aligner/command_line/configure.py
Due: profile-check, print-check

Fix error in wrong profile usage
  montreal_forced_aligner/command_line/utils.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/helper.py
Due: profile-check, print-check

Update changelog for 3.3.5
  docs/source/changelog/changelog_3.3.rst
Due: none

Change default value of --clean
  docs/source/changelog/changelog_3.3.rst
  montreal_forced_aligner/config.py
Due: profile-check, print-check

Update alignment examples
  docs/source/first_steps/alignment_example.md
  docs/source/first_steps/example.rst
  docs/source/first_steps/index.rst
  docs/source/getting_started.rst
  docs/source/user_guide/workflows/dictionary_generating.rst
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/tokenization/chinese.py
  montreal_forced_aligner/tokenization/english.py
  montreal_forced_aligner/tokenization/japanese.py
  montreal_forced_aligner/tokenization/korean.py
  montreal_forced_aligner/tokenization/spacy.py
  montreal_forced_aligner/tokenization/thai.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/utils.py
  montreal_forced_aligner/vad/models.py
Due: profile-check, print-check

Change default value of --clean (#918)
  docs/source/changelog/changelog_3.3.rst
  docs/source/first_steps/alignment_example.md
  docs/source/first_steps/example.rst
  docs/source/first_steps/index.rst
  docs/source/getting_started.rst
  docs/source/user_guide/workflows/dictionary_generating.rst
  montreal_forced_aligner/command_line/mfa.py
  montreal_forced_aligner/config.py
  montreal_forced_aligner/diarization/multiprocessing.py
  montreal_forced_aligner/tokenization/chinese.py
  montreal_forced_aligner/tokenization/english.py
  montreal_forced_aligner/tokenization/japanese.py
  montreal_forced_aligner/tokenization/korean.py
  montreal_forced_aligner/tokenization/spacy.py
  montreal_forced_aligner/tokenization/thai.py
  montreal_forced_aligner/transcription/multiprocessing.py
  montreal_forced_aligner/utils.py
  montreal_forced_aligner/vad/models.py
Due: profile-check, print-check
